body {
    font-family: Arial, sans-serif;
    background-color: #bce9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.game-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

.choices {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.choice-image {
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.choice-image:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 0;
    color: #007bff;
    animation: fadeIn 1s ease-in-out forwards;
}

#play-again-button {
    display: none;
    margin-top: 20px;
}
